*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color:#3161e0;
}

h1{
    padding-top: 15px;
}

h3{
    padding-bottom: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

 header .container{
    height: 50px;
    width: 1250px;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    color: white;
}

nav{
    width: 750px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    color: white;
  }

  nav ul li a{
    text-decoration-line: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: medium;
    color: white;
  }

button{
    display: inline-block;
    border-radius: 10px;
    border-style: none;
    align-items: center;
    justify-content:center;
    padding: 10px;
}

header button{
    width: 100px;
    justify-self: flex-end
}

button.purple-button{
    background-color: #8ea0e1;
    color: white;

}

button.dark-button{
  background-color: #22272a;
  color: white;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container.box-jumbo{
    height: 520px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    color: white;
}

.container.box-maxi{
    height: 1040px;
}

.container.box-content{
    height: 625px;
}

.container.gray{
    background-color: #d3d3d3;
}

.advertising-content{
    width: 1250px;
    height: 520px;
    display: flex;
}

.advertising-content.reverse{
    flex-direction: row-reverse;
}

.advertising-img{
    width: 750px;
    height: 100%;
    background-size: cover;
}

.advertising-img.ad1{
    background-image:url(../img/item1.svg);
}

.advertising-img.ad2{
    background-image: url(../img/item2.svg);
}

.advertising-img.ad3{
    background-image: url(../img/item3.svg);
}

.advertising-img.ad4{
    background-image: url(../img/item4-big.svg);
    width: 100%;
    height: 100%;
}

.advertising-content.maxi{
    height: 940px;
    background-size: auto;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

.advertising-textbox{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.advertising-textbox.jumbotron-textbox{
    width: 750px;
}

.advertising-textbox h1{
    padding-bottom: 20px;
}

.advertising-textbox.maxi{
    width: 85%;
    height: 150px;
    justify-content: space-around;
}

.jumbotron.advertising-textbox{
    width: 950px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer .container{
    background-color: #22272a;
    height: 780px;
}

.footer-content{
    width: 1250px;
    display: flex;
    align-items: center;
}

.footer-links{
    width: 220px;
    height: 600px;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-links p{
font-size: large;
padding-bottom: 10px;
padding-left: 10px;
}

.footer-links p.purple{
    color:#7289da ;
}

.footer-links.large-footer{
    width: 380px;
    height: 600px;
}

.footer-links.large-footer h1{
    color: #7289da;
    padding-bottom: 15px;
}

.footer-links.large-footer ul{
    list-style: none;
    flex-direction: row;
}

.footer-content.page-end{
    justify-content: space-between;
    height:80px;
    width: 1250px;
}

.container.mini{
    height: 120px;
}

.footer-element{
    height: 40px;
    width: 70px;
}